.nav{
    background-color: rgb(90, 5, 202);
  }
  .firstDiv{
  max-width: 1280px;
  padding:3px 4px;
  margin:auto
  }
  .secondDiv{
  display:flex;
  justify-items: center;
  }
  .ul{
    display: flex;
    flex-direction: row;
    /* --tw-space-x-reverse: 0;
      margin-right: calc(2rem * var(--tw-space-x-reverse));
      margin-left: calc(2rem * calc(1 - var(--tw-space-x-reverse))); */
      font-size: 0.875rem/* 14px */;
      line-height: 1.25rem/* 20px */;
      font-weight: 500;
  }
  .li{
    --tw-text-opacity: 1;
    color: rgb(17 24 39 / var(--tw-text-opacity));
    
  }
  .yel{
    margin-bottom: 10px;
}
.inpp{
    background-color: #f4f4f4;
    height:30px;
    border: solid  1px black;
    border-radius: 5px

}